WP_IMAGE=wordpress:7.1-php8.5-apache
DB_IMAGE=mysql:latest
CLI_IMAGE=wordpress:cli
WP_PORT=8890
DB_NAME=healthcode
DB_USER=healthcode
DB_PASSWORD=
DB_ROOT_PASSWORD=

WP_ENVIRONMENT_TYPE=local
EDGE_IMAGE=nginx@sha256:dc5069ad14f19660b141b21236140b91656bf89bbc3e2417c70ae650cd66104c
ADMIN_USER=demo-editor
ADMIN_PASSWORD=
ADMIN_EMAIL=admin@example.invalid
SITE_URL=http://127.0.0.1:8890
